<div class="home-background">
  <shared-nav-bar></shared-nav-bar>
  <div
    class="pt-[42vh] md:pt-[35vh] w-[90%] mx-[5%] md:w-[40%] block md:flex text-center"
  >
    <!-- Column 1 -->
    <div class="font-[Inter]">
      <p class="text-white font-bold text-5xl md:text-6xl">
        Transformando empresas con IoT
      </p>
    </div>
  </div>
</div>

<!-- Cards Section -->
<div class="font-[Inter] pt-6 md:pt-10">
  <div class="w-[80%] mx-[10%]">
    <!-- Section information -->
    <div class="text-center">
      <!-- Section title -->
      <div class="font-extrabold text-4xl md:text-5xl">
        Soluciones Integrales para IoT
      </div>
      <!-- Section description -->
      <div class="text-gray-700 pt-4">
        Nuestros servicios integrales cubren todo, desde la planeación hasta la
        implementación, garantizando que tu organización aproveche al máximo el
        potencial completo del IoT.
      </div>
    </div>

    <!-- Card 1-->
    <div class="mt-10 block md:flex items-center">
      <!-- Image -->
      <div class="w-auto md:w-[85%]">
        <img
          class="rounded-xl drop-shadow-2xl"
          srcset="/assets/images/consulting/consulting1.jpg 1x, /assets/images/consulting/consulting2.jpg x2, /assets/images/consulting/consulting3.jpg x3"
          alt="Consulting"
        />
      </div>

      <!-- Text/description -->
      <div class="px-0 md:pl-8 text-center">
        <!-- Title -->
        <div class="font-extrabold text-3xl md:text-4xl pt-5 md:pt-0 md:text-left">Consultoría en IoT</div>
        <!-- Description -->
        <div class="pt-4 md:text-justify">Nuestros expertos te ayudan a definir tu estrategia de IoT, identificar los casos de uso adecuados y crear un plan de ruta para una implementación exitosa.</div>
      </div>
    </div>

    <!-- Card 2-->
    <div class="mt-10 block md:flex items-center">

      <!-- Text/description -->
      <div class="hidden md:block px-0 md:pr-8 text-center">
        <!-- Title -->
        <div class="font-extrabold text-3xl md:text-4xl pt-5 md:pt-0 md:text-left">Integración de Dispositivos</div>
        <!-- Description -->
        <div class="pt-4 md:text-justify">Conecta y gestiona diversos dispositivos IoT de forma fluida. Nos aseguramos de la interoperabilidad y la transmisión segura de datos dentro de tu ecosistema.</div>
      </div>

      <!-- Image -->
      <div class="w-auto md:w-[85%]">
        <img
          class="rounded-xl drop-shadow-2xl"
          srcset="/assets/images/devices/devices1.jpg 1x, /assets/images/devices/devices2.jpg x2, /assets/images/devices/devices3.jpg x3"
          alt="Consulting"
        />
      </div>

      <!-- Text/description -->
      <div class="block md:hidden px-0 md:pr-8 text-center">
        <!-- Title -->
        <div class="font-extrabold text-3xl md:text-4xl pt-5 md:pt-0 md:text-left">Integración de Dispositivos</div>
        <!-- Description -->
        <div class="pt-4 md:text-justify">Conecta y gestiona diversos dispositivos IoT de forma fluida. Nos aseguramos de la interoperabilidad y la transmisión segura de datos dentro de tu ecosistema.</div>
      </div>

    </div>

    <!-- Card 3-->
    <div class="mt-10 block md:flex items-center">
      <!-- Image -->
      <div class="w-auto md:w-[85%]">
        <img
          class="rounded-xl drop-shadow-2xl"
          srcset="/assets/images/analysis/analysis1.jpg 1x, /assets/images/analysis/analysis2.jpg x2, /assets/images/analysis/analysis3.jpg x3"
          alt="Consulting"
        />
      </div>

      <!-- Text/description -->
      <div class="px-0 md:pl-8 text-center">
        <!-- Title -->
        <div class="font-extrabold text-3xl md:text-4xl pt-5 md:pt-0 md:text-left">Analítica de datos</div>
        <!-- Description -->
        <div class="pt-4 md:text-justify">Aprovecha el poder de los datos del IoT. Nuestra plataforma de análisis proporciona información en tiempo real, análisis predictivos e inteligencia accionable para impulsar decisiones informadas.</div>
      </div>
    </div>

  </div>
</div>

<!-- Section to input email to get in touch -->
<div class="bg-[#071130] mt-10 text-white">
  <div class="w-[80%] mx-[10%] py-16 text-center">
    <!-- Title -->
    <div class="font-extrabold text-4xl md:text-5xl">Acelera la Innovación con IoT Agile</div>
    <!-- Description -->
    <div class="mt-10 text-lg md:text-xl">Permite que tu equipo se enfoque en la innovación mientras nosotros nos ocupamos de la infraestructura de IoT. Diseñamos teniendo en cuenta agilidad, escalabilidad e integración.</div>
    <!-- Email input + button -->
    <div class="mt-8">
      <!-- TODO: make email input work -->
      <form>
        <input class="px-2 py-1 border rounded outline-none text-black" type="email" placeholder="Ingresa tu email" />
        <button class="ml-2 bg-gradient-to-r from-[#003EFF] to-[#4EC1F3] px-2 py-1 rounded font-semibold">Inicia ahora</button>
      </form>
    </div>
  </div>
</div>

<!-- News section -->
<div class="font-[Inter] my-6 md:my-10">
  <div class="w-[80%] mx-[10%]">
    <!-- title -->
    <div class="font-extrabold text-4xl md:text-5xl text-center">Noticias en el campo</div>

    <!-- Cards -->
    <div class="block md:flex mt-10">

      <!-- Card 1 -->
      <div class="rounded-xl drop-shadow-xl text-center">
        <!-- Title -->
        <div class="mb-4 font-bold text-xl md:text-2xl">News Title</div>
        <!-- Image -->
        <div class="w-auto md:w-[90%] md:mx-[5%]">
          <img
            class="rounded-xl"
            src="/assets/images/news/news1.jpg"
            alt="Noticia"
          />
        </div>
      </div>

      <!-- Card 2 -->
      <div class="rounded-xl drop-shadow-xl text-center">
        <!-- Title -->
        <div class="mb-4 font-bold text-xl md:text-2xl">News Title</div>
        <!-- Image -->
        <div class="w-auto md:w-[90%] md:mx-[5%]">
          <img
            class="rounded-xl"
            src="/assets/images/news/news2.jpg"
            alt="Noticia"
          />
        </div>
      </div>

      <!-- Card 3 -->
      <div class="rounded-xl drop-shadow-xl text-center">
        <!-- Title -->
        <div class="mb-4 font-bold text-xl md:text-2xl">News Title</div>
        <!-- Image -->
        <div class="w-auto md:w-[90%] md:mx-[5%]">
          <img
            class="rounded-xl"
            src="/assets/images/news/news3.jpg"
            alt="Noticia"
          />
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Footer -->
<div>
  <shared-footer></shared-footer>
</div>

