<shared-nav-bar></shared-nav-bar>

<!-- Cover -->
<div class="home-background">
  <div
    class="pt-[32vh] md:pt-[35vh] w-[90%] mx-[5%] md:w-[40%] block md:flex text-center"
  >
    <!-- Column 1 -->
    <div class="font-[Inter] bg-black bg-opacity-50 rounded-lg p-2">
      <p class="text-white font-bold text-5xl md:text-6xl">
        Nuestro trabajo
      </p>
    </div>
  </div>
</div>

<!-- Showcase -->
<div class="font-[Inter] mt-14">
  <!-- Education -->
  <div class="w-[80%] mx-[10%] mb-6">
    <!-- Title -->
    <div class="font-extrabold text-4xl md:text-5xl border-b border-black pb-2 mb-6">Educación</div>
    <!-- Description -->
    <div>
      <!-- Paragraph 1 -->
      <div class="text-justify">Nuestro equipo cuenta con amplia trayectoria en el ámbito académico lo que nos permite poder poner a disposición una serie de certificaciones internacionales, cursos, seminarios, talleres y diplomados en distintas áreas tecnológicas y metodológicas actuales. Contamos con alianzas con instituciones del ámbito nacional e internacional entre ellas CertiProf. Contamos con capacitaciones y preparación para certificaciones internacionales en:</div>
      <!-- Paragraph 2 -->
      <div class="block md:flex w-full mt-4 items-center ">
        <!-- Bullet list -->
        <div class="w-auto md:w-1/2">
          <ul class="list-disc ml-6">
            <li>Scrum Master Professional Certificate - SMPC</li>
            <li>Scrum Product Owner Professional Certificate - SPOPC</li>
            <li>Scrum Developer Professional Certification - SDPCTM</li>
            <li>Agile Leader Professional Certification - ALPCTM</li>
            <li>Agile Coach Professional Certificate - ACPC®</li>
            <li>Business Agility Professional Certification- BAPCTM</li>
            <li>OKR Master Professional Certification - OKRMPCTM</li>
            <li>Artificial Intelligence Professional Certificate - CAIPC®</li>
          </ul>
        </div>
        <!-- Image -->
        <div class="w-auto md:w-1/2 flex justify-center items-center">
          <img class="max-w-72" src="assets/icons/certiprof.png" alt="">
        </div>
      </div>

    </div>
  </div>
  <!-- I+D -->
  <div class="bg-[#071130] text-white py-14">
    <div class="w-[80%] mx-[10%]">
      <!-- Title -->
    <div class="font-extrabold text-4xl md:text-5xl border-b border-white pb-2 mb-6">I + D</div>
    <!-- Description -->
    <div class="text-justify">En IoT Agile estamos dedicados a impulsar la innovación y la competitividad en un mercado en constante evolución. Nuestros desarrollos van orientados a las nuevas tecnologías, las mejoras de productos y servicios existentes, y anticiparnos a las necesidades y demandas cambiantes de los clientes nos han permitido satisfacer las necesidades actuales, podemos mencionar entre ellos:</div>
    <!-- Cards -->
    <div class="flex flex-wrap justify-center mt-10 lg:justify-between">
      <!-- Card 1 -->
      <div class="max-w-sm text-black p-4 flex flex-col flex-grow mb-4 lg:mb-0 lg:w-[30%]">
          <!-- Image -->
          <div class="h-full">
              <img class="rounded-t-3xl object-cover w-full h-full" src="assets/images/portfolio/image1.png" alt="">
          </div>
          <!-- Text -->
          <div class="bg-white rounded-b-3xl px-6 pt-4 pb-6 flex-grow flex flex-col">
              <!-- title -->
              <div class="font-bold text-xl md:text-2xl">FlowRiver</div>
              <!-- Description -->
              <div class="text-[#666666] flex-grow">Sistemas de monitoreo en tiempo real de variables ambientales en ríos</div>
          </div>
      </div>
      <!-- Card 2 -->
      <div class="max-w-sm text-black p-4 flex flex-col flex-grow mb-4 lg:mb-0 lg:w-[30%]">
          <!-- Image -->
          <div class="h-full">
              <img class="rounded-t-3xl object-cover w-full h-full" src="assets/images/portfolio/trackinguis.png" alt="FlowRiver">
          </div>
          <!-- Text -->
          <div class="bg-white rounded-b-3xl px-6 pt-4 pb-6 flex-grow flex flex-col">
              <!-- title -->
              <div class="font-bold text-xl md:text-2xl">TrackingUIS</div>
              <!-- Description -->
              <div class="text-[#666666] flex-grow">Sistema para rastreo y seguridad del autobús universitario mediante IoT, proporcionando ubicación en tiempo real y alertas de emergencia ante incidentes.</div>
          </div>
      </div>
      <!-- Card 3 -->
      <div class="max-w-sm text-black p-4 flex flex-col flex-grow lg:w-[30%]">
          <!-- Image -->
          <div class="h-full">
              <img class="rounded-t-3xl object-cover w-full h-full" src="assets/images/portfolio/image2.png" alt="TrackingUIS">
          </div>
          <!-- Text -->
          <div class="bg-white rounded-b-3xl px-6 pt-4 pb-6 flex-grow flex flex-col">
              <!-- title -->
              <div class="font-bold text-xl md:text-2xl">Heart Monitor</div>
              <!-- Description -->
              <div class="text-[#666666] flex-grow"> Sistema de registro y monitoreo remoto de temperatura, ritmo cardiaco y oxígeno en sangre, de un paciente en cuidados fuera de instalaciones médicas</div>
          </div>
      </div>
  </div>

    </div>
  </div>
</div>



<!-- Email Input -->
<div class="bg-gradient-to-r from-[#003EFF] to-[#4EC1F3] py-10">
  <div class="bg-white text-black">
    <shared-email-input></shared-email-input>
  </div>
</div>

<div class="">
  <shared-footer></shared-footer>
</div>
