<div class="bg-[#071130] pt-10 text-white font-[Inter]">
  <div class="w-[80%] mx-[10%] block md:flex">
    <!-- Menu -->
    <div class="border-r-0 md:border-r-2 border-white w-auto md:w-[50%]">
      <!-- Logo -->
      <div
        class="w-[80%] mx-[10%] md:w-[70%] md:mx-[15%] border-b border-white pb-2"
      >
        <img src="/assets/icons/iotAgile.svg" alt="Iot Agile" />
        <div class="italic text-center mt-2">Soluciones a tú medida</div>
      </div>
      <!-- Menu items -->
      <div class="text-center italic text-lg md:text-xl">
        @for (item of menuItems; track item.title) {
        <a
          [routerLink]="[item.url]"
          routerLinkActive="text-gray-300"
          class="block mt-4"
        >
          {{ item.title }}
        </a>
        }
      </div>
      <!-- Contact info -->
      <div
        class="border-t border-white w-[80%] mx-[10%] md:w-[70%] md:mx-[15%] mt-4 pt-2"
      >
        <!-- Phone Number 1 -->
        <div class="flex justify-center mb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 flex-shrink-0"
          >
            <path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path>
          </svg>
          <div class="pl-2">+57 (317) 352-0172</div>
        </div>

        <!-- Phone Number 1 -->
        <div class="flex justify-center mb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 flex-shrink-0"
          >
            <path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path>
          </svg>
          <div class="pl-2">+57 (317) 640-9543</div>
        </div>

        <!-- Email -->
        <div class="flex justify-center">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-6 h-6 flex-shrink-0"
            >
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </svg>
          <div class="pl-2">negocios&#64;iot-agile.com</div>
        </div>

      </div>
    </div>

    <!-- Contact Us form -->
    <div class="hidden md:flex w-auto mx-0 md:w-[60%] md:mx-[4%] mt-8 md:mt-0">
      <shared-contact-form></shared-contact-form>
    </div>
  </div>

  <!-- Additional info -->
  <div
    class="text-center block md:flex md:justify-between pt-10 px-4 pb-6 md:pb-0"
  >
    <div class="">© 2024 IoT Agile. All rights reserved.</div>
    <!-- <div class="">Terms of Service</div> -->
  </div>
</div>
