<shared-nav-bar></shared-nav-bar>
<div class="home-background">
  <div class="pt-[15vh] md:pt-[25vh] w-[90%] mx-[5%] block md:flex text-center">

    <!-- Text -->
    <div class="md:w-2/3 text-white">
      <div class="bg-black bg-opacity-30 rounded-lg mt-6">
        <!-- title -->
        <div class="text-5xl md:text-7xl font-extrabold">Acerca de IoT Agile</div>
        <!-- Description -->
        <div class="mt-4 md:text-left md: ml-6 text-lg md:text-xl">Revolucionando el futuro de los dispositivos conectados.</div>
      </div>
    </div>

    <!-- image -->
    <div class="mt-8 md:mt-0 w-[50%] mx-[25%] md:w-1/3 md:mx-[5%]">
      <img src="assets/icons/iotAgile-logo.png" alt="IoT Agile logo">
    </div>

  </div>
</div>

<!-- Information -->
<div class="w-[80%] mx-[10%] my-8 md:my-12">
  <!-- Card 1 -->
  <div class="text-center">
    <!-- title -->
    <div class="font-extrabold text-4xl md:text-5xl">Quiénes Somos</div>
    <!-- Content -->
    <div class="block md:flex mt-6 md:mt-10">
      <!-- image -->
      <div class="w-auto md:w-[70%]">
        <img class="rounded-xl drop-shadow-2xl" src="/assets/images/about/about.jpg" alt="Office">
      </div>
      <!-- description -->
      <div class="ml-0 md:ml-6 mt-6 md:mt-0 md:text-justify md:w-[80%]">Somos un equipo multidisciplinario de profesionales con amplia trayectoria en la industria y la academia, los cuales sistémicamente analizamos, diseñamos, desarrollamos e implementamos soluciones eficientes basados en las necesidades del cliente. Utilizando las buenas prácticas y las metodologías agiles en busca de una mejora continua que nos permita ser ampliamente competitivos.</div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="text-center mt-14">
    <!-- title -->
    <div class="font-extrabold text-4xl md:text-5xl">Misión</div>
    <!-- Content -->
    <div class="block md:flex mt-6 md:mt-10">
      <!-- image -->
      <div class="w-auto md:w-[70%]">
        <img class="rounded-xl drop-shadow-2xl" src="/assets/images/about/mission.jpg" alt="Office">
      </div>
      <!-- description -->
      <div class="ml-0 md:ml-6 mt-6 md:mt-0 md:text-justify md:w-[80%]">La misión de IoT Agile es permitir que cualquier persona, organización y/o comunidad mejore su calidad de vida a través de la implementación de herramientas tecnologías digitales accesibles, brindando soluciones optimas, eficientes y con alta calidad. Logrando así minimizar la brecha tecnológica entre las personas, facilitando la accesibilidad con hardware y software adecuado y seguro. Apoyándose en la capacitación, actualización y mejora continua de cada uno de los integrantes del equipo.</div>
    </div>
  </div>
  <!-- Card 3 -->
  <div class="text-center mt-14">
    <!-- title -->
    <div class="font-extrabold text-4xl md:text-5xl">Visión</div>
    <!-- Content -->
    <div class="block md:flex mt-6 md:mt-10">
      <!-- image -->
      <div class="w-auto md:w-[70%]">
        <img class="rounded-xl drop-shadow-2xl" src="/assets/images/about/vision.jpg" alt="Office">
      </div>
      <!-- description -->
      <div class="ml-0 md:ml-6 mt-6 md:mt-0 md:text-justify md:w-[80%]">Nuestra visión es hacer que IoT Agile sea un punto de referencia tecnológico del desarrollo, diseño e implementación de herramientas que brinden soluciones acordes a las necesidades, así como ser principales proveedores de conocimiento a través de formaciones y capacitaciones que permitan el empoderamiento y buenas practicas para toda persona que desee sumergirse en el desarrollo de tecnología.</div>
    </div>
  </div>

</div>

<!-- Footer -->
<div>
  <shared-footer></shared-footer>

</div>
