<div class="w-[80%] mx-[10%] py-16 text-center font-[Inter]">
  <!-- Title -->
  <div class="font-extrabold text-4xl md:text-5xl">Acelera la Innovación con IoT Agile</div>
  <!-- Description -->
  <div class="mt-10 text-lg md:text-xl">Permite que tu equipo se enfoque en la innovación mientras nosotros nos ocupamos de la infraestructura de IoT. Diseñamos teniendo en cuenta agilidad, escalabilidad e integración.</div>
  <!-- Email input + button -->
  <div class="mt-8">
    <form action="https://formspree.io/f/xoqglbov" method="POST">
      <input class="px-2 py-1 border rounded outline-none text-black" type="email" placeholder="Ingresa tu email" />
      <button class="mt-3 md:mt-0 ml-2 bg-gradient-to-r from-[#003EFF] to-[#4EC1F3] px-2 py-1 rounded font-semibold !text-white">Inicia ahora</button>
    </form>
  </div>
</div>
